<!DOCTYPE html public "٩๏̯͡๏)۶">

<!--
	Google HTML5 slide template

	Authors: Luke Mahé (code)
			 Marcin Wichary (code and design)
		 
			 Dominic Mazzoni (browser compatibility)
			 Charles Chen (ChromeVox support)

	URL: http://code.google.com/p/html5slides/
	
	Tips:
			Display logo:
			<article class="biglogo">
			
			For animated bullet points:
			<ul class="build">
			
			Main header:
			<h1>
			
			Segue header:
			<h2>
			
			Slide header:
			<h3>
			
			Smaller font-size:
			<article class="smaller">
			
			Colors:
			class="red|blue|green|yellow|black|white"
			
			Code block:
			<pre>
			
			Attribution:
			<div class="source">
			
			Fill slide with bg:
			<article class="fill">
				<h3>
					Image filling the slide (with optional header)
				</h3>
				<p>
					<img src="images/example-cat.jpg">
				</p>
				<div class="source white">
					Source: Eric Schmidt
				</div>
			</article>
			
			Quote:
			<article>
				<q>
					The best way to predict the future is to invent it.
				</q>
				<div class="author">
					Alan Kay
				</div>
			</article>
			
			Embed an iframe:
			<article class="fill">
				<h3>
					Full-slide embed with (optional) slide title on top
				</h3>
				<iframe src="http://www.google.com/doodle4google/history.html"></iframe>
			</article>
			
-->

<html>
	<head>
		<title>Presentation</title>

		<meta charset="utf-8" />
		<script src="../slides.js"></script>
		<link rel="stylesheet" type="text/css" href="css/gradients.css"></link>
	</head>
	
	<style>
		/* Your individual styles here, or just use inline styles if that’s
			 what you want. */
		
	</style>

	<body style="display: none">

		<section class="slides layout-regular template-red">
			
			<!-- Your slides (<article>s) go here. Delete or comment out the
					 slides below. -->
				
			<article class="biglogo">
				<!-- RED Interactive -->
			</article>

			<article>
				<h1>
					Qu&rsquo;est-ce que HTML5?
				</h1>
				<p>
					RED Interactive
					<br />
					TBD, 2011
				</p>
			</article>
			<article>
				<h3>Hey.</h3>
				<p>This preso's about HTML5</p>
			</article>
			<article>
				<h3>Stuff to talk about:</h3>
				<ul class="build">
					<li>What HTML5 is</li>
					<li>How we want to use it</li>
					<li>How we can start using it now</li>
				</ul>
			</article>
			
			<article class="fill">
				<h3>So what&rsquo;s HTML5?</h3>
				<p>
					<img src="images/html5.png" style="margin-left: -50px;">
				</p>
				<div class="source white">
					Source: Eric Schmidt
				</div>
			</article>
			<article class="smaller">
				<q>HTML5 is being developed as the next major revision of HTML (HyperText Markup Language), the core markup language of the World Wide Web. The Web Hypertext Application Technology Working Group (WHATWG)&hellip;</q>
				<div class="author">Wikipedia</div>
			</article>
			<article class="smaller">
				<q>HTML5 is a buzzword like <em>AJAX</em> and <em>Web 2.0</em> that encapsulates the most exciting improvements to the web platform in the past and next few years.</q>
				<div class="author">Some guy on the internet</div>
			</article>
			
			<article class="smaller">
				<h1>The Basics</h1>
				<p>(Or, things we should've had access to years ago if it wasn't for IE, standards bodies that weren't progressing the spec, and clients who feel the need to have requirements that everything work in antiquated browsers that should have died out along with fax machines.)</p>
			</article>
			
			<article id="rounded-corners">
				<style>
					#rounded-corners section > ul > li:before { 
						content:"";
					}
					#rounded-corners section > ul > li a {	
						display:inline-block;
						margin-left:20px;
						position:relative;
						top:3px;
						content:"\00a0";
						color:#fff;
						background:#000;
						font-size:.8em;
						padding:10px;
					}
					#rounded-corners section > ul > li a:hover {
						color:yellow;
					}
					
					#rounded-corners section > ul > li:nth-child(1) a {
						-webkit-border-radius: 30px;
					}
					
					#rounded-corners section > ul > li:nth-child(2) a {
						width:30px;
						height:30px;
						-webkit-border-radius: 30px;
					}
					
					#rounded-corners section > ul > li:nth-child(3) a {
						-webkit-transsition-property: all;
						-webkit-transition-duration: 0.8s;
						-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
						-webkit-border-radius: 10px;
						background:#000;

					}
					#rounded-corners section > ul > li:nth-child(3) a:hover {
						-webkit-border-radius: 40px;
					}
					
					#rounded-corners .pagination li:before {
						content:"";
					}
					#rounded-corners .pagination {
						display:inline-block;
						position:relative;
						top:13px;
					}
					#rounded-corners .pagination li {
						display:inline-block;
						margin-left:10px;
						content:"\00a0";
						width:20px;
						height:20px;
						-webkit-border-radius:20px;
						cursor:pointer;
						background-color:#000;
						-webkit-transsition-property: all;
						-webkit-transition-duration: 0.8s;
						-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
					}
					
					#rounded-corners .pagination li:hover {
						background-color:#ff0000;
					}
					
					#rounded-corners #canon-example {
						width:749px;
						height:225px;
						display:block;
						margin-top:10px;
						background:url(images/rounded-corners.jpg) no-repeat;
					}
					#rounded-corners #canon-example:hover {
						background:url(images/rounded-corners-degrade.jpg) no-repeat;
					}
					
				</style>
				<!--//
					Roudned Corners
					 - Circles / Backings / Maskings
					 - Degrade to squares, not so bad is it?
					 - Masks with rounded corners
				//-->
				<h3>Rounded corners</h3>
				<section>
					<ul>
						<li><a>Rounded Button</a></li>
						<li>
							Circles as Buttons
							<ul class="pagination clearfix">
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</li>						
						<li><a>Animate Corners!</a></li>
						<li>Examples of Degredation
							<span id="canon-example"></span>
						</li>
					</ul>
				</section>
			</article>
			
			<article id="rounded-corners-masks">
				<style>
					#rounded-corners-masks > ul  {
						
					}
				</style>
				
				<h3>Design with Rounded Corners</h3>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</article>
			
			
			<article>
			    
			    <style>
    			    @import url("../css/dropshadows.css");
                </style>
			    
				<h3>Drop shadows</h3>
				<p>Look, no images:</p>
				
				<div class="drop-shadow lifted">
				    <p>Yay, lifted corners!</p>
				</div>
				
				<div class="drop-shadow curled">
				    <p>Now for some curled corners.</p>
				</div>
				
				<div class="drop-shadow raised">
                    <p>A raised box.</p>
                </div>
				
				<div class="drop-shadow perspective">
				    <p>Perspective.</p>
				</div>
				
				<div class="drop-shadow curved curved-hz-1">
                    <p>Singly horizontal curve.</p>
                </div>

                <div class="drop-shadow curved curved-hz-2">
                    <p>Horizontal curves.</p>
                </div>

                <div class="drop-shadow lifted rotated">
                    <p>Rotated box, woo.</p>
                </div>
                
                <div class="drop-shadow colors">
                    <p>Ooh, pretty colors.</p>
                </div>
                
                <div class="drop-shadow simple">
                    <p>Orange Boxy.</p>
                </div>
                
				
			</article>
			<article>
				<h3>Text shadows</h3>
			</article>
			<article>
				<h3>Gradients</h3>
				<ul class="gradientsList">
					<li class="gradient1"></li>
					<li class="gradient2"></li>
					<li class="gradient3"></li>
					<li class="gradient4"></li>
					<li class="gradient5"></li>
					<li class="gradient6"></li>
					<li class="gradient7"></li>
					<li class="gradient8"></li>
					<li class="gradient9"></li> 
				</ul>
			</article>
			<article>
				<h3>Custom fonts</h3>
			</article>
			<article class="demo">
				<h2>[DEMO] (Scott Twede)</h2>
			</article>
			
			<article>
				<h1>The Advanced</h1>
			</article>
			<article>
				<h3>Responsive Web</h3>
			</article>
			<article class="demo">
				<h2>[DEMO] (Felipe Arroyo)</h2>
			</article>
			<article>
				<h3>CSS transitions</h3>
			</article>
			<article>
				<h3>CSS animations</h3>
			</article>
			<article>
				<h3>CSS 3D transforms</h3>
			</article>

            <article>
				<h2>A Simple Animated Scene in CSS3</h2>
			</article>

			<article class="demo">
			    
			    <style>
    			    @import url("../css/simple-animated-scene.css");
                </style>

				<div id="sky" class="target">

        			<div id="cloud" class="target"> 
        				<div class="cloud cloud-1"></div> 
        				<div class="cloud cloud-2"></div> 
        				<div class="cloud cloud-3"></div> 
        			</div> 

        			<div id="sun" class="target"></div> 

        			<div id="moon" class="target"> 
        				<div class="moon"> 
        				</div> 
        				<div class="moon moon-2">
        				</div> 
        			</div> 

        			<div id="ground" class="target"></div> 

        		</div><!-- #sky --> 

        		<input type="button" value="ANIMATE THE SCENE" id="startbutton"> 
				
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
				
				<script> 
                $(function () {
                	var s = null,

                	AnimationSpace = {
                		settings: {
                			tabHeaders: null,
                			tabSections: null,
                			currentIndex: null,
                			speed: 800,
                			collection: null,
                			i: null,
                			j: null,
                			startButton: $("#startbutton")
                		},

                		init: function () {
                			s = this.settings;
                			s.tabSections = $("div.tab");
                			$(s.tabSections[0]).slideDown(s.speed);
                			$(s.tabSections[1]).slideUp(s.speed);
                			$(s.tabSections[2]).slideUp(s.speed);
                			$(s.tabSections[3]).slideUp(s.speed);
                			$(s.tabSections[4]).slideUp(s.speed);
                			this.getClickedTab();
                			this.startAnimation();
                		},

                		getClickedTab: function () {
                			s = this.settings;
                			s.tabHeaders = $("#sidebar_tabs ul.headers a");
                			s.collection = $("#tab_content div.tab");
                			$(s.tabHeaders).click(function () {
                				s.currentIndex = $(this).parent().index();
                				for (s.i = 0, s.j = s.collection.length; s.i < s.j; s.i += 1) {
                					if (s.i !== s.currentIndex) {
                						$(s.tabSections[s.i]).slideUp(s.speed);

                					} else {
                						$(s.tabSections[s.i]).slideDown(s.speed);
                					}
                				}
                				return false;
                			});
                		},

                		startAnimation: function () {
                			s = this.settings;

                			s.startButton.click(function() {
                				$("div.target").toggleClass("animate");
                				if (s.startButton.attr("value") === "ANIMATE THE SCENE") {
                					s.startButton.attr("value", "RESET THE ANIMATION");
                				} else {
                					s.startButton.attr("value", "ANIMATE THE SCENE");	
                				}
                			});
                		}

                	};

                	AnimationSpace.init();
                });
                </script>
				
			</article>
			
			<article>
				<h1>The Cutting Edge</h1>
			</article>
			<article>
				<h3>Canvas/WebGL</h3>
				<ul>
					<li><a href="http://people.opera.com/danield/html5/html5logo/" onclick="window.open('http://inception.davepedu.com/noflash.php');" target="_blank">HTML5 Logo <em>&mdash; in HTML5!</em></a></li>
					<li><a href="http://html5demos.com/canvas-grad">Interactive Gradients</a></li>
					<li><a href="http://www.cs.helsinki.fi/u/ilmarihe/metatunnel.html">Metatunnel</a></li>
					<li><a href="http://www.ro.me/">ROME - 3 Dreams of Black</a></li>
				</ul>
			</article>
			
			<article>
				<h1>The Under-the-hood Goods</h1>
			</article>
			
			<article>
				<style>
					.column {
						float: left;
						width: 50%;
					}
				</style>
				
				<div class="column">
					<h3>HTML5 endpoints</h3>
					<ul>
						<li>WebSockets</li>
						<li>Flexbox</li>
						<li>History API</li>
						<li>Pointer Events</li>
					</ul>
				</div>
				
				<div class="column">
					<h3>HTML5 libraries</h3>
					<ul>
						<li>Modernizr</li>
						<li>jQuery</li>
						<li>SASS + Compass</li>
						<li>Flux Capacitors</li>
					</ul>
				</div>
			</article>
			
			<article>
				<h1>The Catch</h1>
			</article>
			<article>
				<h3>Simply: Legacy browsers do not support these features.</h3>
			</article>
			<article>
				<h3>Also: <em>This is completely fine.</em></h3>
			</article>
			<article>
				<h3>Graceful degradation</h3>
				<pre>Demo: Rounded corners, drop shadows</pre>
			</article>
			<article>
				<h3>Do:</h3>
				<ul>
					<li>Use advanced techniques</li>
					<li>Degrade gracefully</li>
					<li>Be okay with degradation</li>
					<li>This means you, designer!</li>
				</ul>
			</article>
			<article>
				<h3>Don&rsquo;t:</h3>
				<ul>
					<li>Worry (be happy)</li>
					<li>Provide overly-complicated fallbacks</li>
					<li>Over-emphasize this point. Make it status quo. We&rsquo;ll buy you beers.</li>
				</ul>
			</article>
			<article>
				<h3>The web evolves. We should too.</h3>
			</article>
			
			<article>
				<h1>The Goal</h1>
			</article>
			<article>
				<h3>Eight months ago, we were here:</h3>
				<pre>[Simple list of supported browsers]</pre>
			</article>
			<article>
				<h3>We&rsquo;ve gotten better. We&rsquo;re currently running under these assumptions:</h3>
				<img src="images/browser-support-chart.png" style="display: block; margin-top: 30px; max-width: 100%" />
			</article>
			<article>
				<h3>But that&rsquo;s not where we want to be.</h3>
				<ul class="build">
					<li>(Pause for dramatic effect&hellip;)</li>
				</ul>
			</article>
			<article class="smaller">
				<h3>Instead of supporting <em>browsers</em>, let&rsquo;s support <em>features</em>:</h3>
				
				<style>
					ul.logos {
						display: block;
						margin: 40px auto;
						text-align: center;
					}
					
					ul.logos li {
						margin: 5px;
						display: inline-block;
					}
					
					ul.logos li:before {
						content: "";
					}
					
					ul.logos img {
						margin: 0 auto;
						display: block;
					}
				</style>
				
				<ul class="logos">
					<li>
						<img src="images/html5-features/HTML5_Semantics_128.png" width="128" height="128" alt="HTML5 Semantics 128" />
						HTML5
					</li>
					<li>
						<img src="images/html5-features/HTML5_Styling_128.png" width="128" height="128" alt="HTML5 Styling 128" />
						CSS3
					</li>
					<li>
						<img src="images/html5-features/HTML5_3D_effects_128.png" width="128" height="128" alt="HTML5 3D Effects 128" />
						Canvas/WebGL
					</li>
					<li>
						<img src="images/html5-features/HTML5_Connectivity_128.png" width="128" height="128" alt="HTML5 Connectivity 128" />
						Web Sockets
					</li>
					<li>
						<img src="images/html5-features/HTML5_Device_Access_128.png" width="128" height="128" alt="HTML5 Device Access 128" />
						Geolocation
					</li>
					<li>
						<img src="images/html5-features/HTML5_Multimedia_128.png" width="128" height="128" alt="HTML5 Multimedia 128" />
						Audio, Video
					</li>
					<li>
						<img src="images/html5-features/HTML5_Offline_Storage_128.png" width="128" height="128" alt="HTML5 Offline Storage 128" />
						Offline Storage
					</li>
					<li>
						<img src="images/html5-features/HTML5_Performance_128.png" width="128" height="128" alt="HTML5 Performance 128" />
						Web Workers
					</li>
				</ul>
			</article>
			<article>
				<h3>These browsers support our features:</h3>
				
				<ul style="width: 300px" class="logos">
					<li>
						<img src="images/chrome.png" alt="Chrome" />
						Chrome
					</li>
					<li>
						<img src="images/firefox.png" alt="Firefox" />
						Firefox
					</li>
					<li>
						<img src="images/ie9.png" alt="IE9" />
						IE 9
					</li>
					<li>
						<img src="images/safari.png" alt="Safari" />
						Safari
					</li>
				</ul>
			</article>
			<article>
				<h3>These don&rsquo;t:</h3>
				
				<ul class="logos">
					<li>
						<img src="images/ie8.png" alt="IE8" />
						IE 8
					</li>
					<li>
						<img src="images/ie7.png" alt="IE7" />
						IE 7
					</li>
					<li>
						<img src="images/ie6.png" alt="IE6" />
						IE 6
					</li>
				</ul>
			</article>
			<article>
				<h3>Or rather, these <em>do</em> (what a twist!):</h3>

				<ul class="logos">
					<li>
						<img src="images/ie8.png" alt="IE8" />
						IE 8
					</li>
					<li>
						<img src="images/ie7.png" alt="IE7" />
						IE 7
					</li>
					<li>
						<img src="images/ie6.png" alt="IE6" />
						IE 6
					</li>
				</ul>
				
				<ul class="build">
					<li>How?</li>
				</ul>
			</article>
			<article>
				<h3>Google Chrome Frame</h3>
				<img style="position: absolute; top: 0; right: 0;" src="images/chromeframe.png" alt="Google Chrome Frame" />
				<ul style="position: relative; z-index: 1; top: 270px;">
					<li><a href="http://google.com/chromeframe">http://google.com/chromeframe</a></li>
					<li>It&rsquo;s a plugin. Y&rsquo;know, just like that <em>other</em> plugin</li>
				</ul>
			</article>
			
			<article>
				<h1>The Part Where<br />You Come In</h1>
			</article>
			<article>
				<h3>Usage is possible with creative support.</h3>
				<ul>
					<li>We suck at design.</li>
					<li>No, seriously. Suckage.</li>
				</ul>
			</article>
			<article>
				<h2>You complete <strike>me</strike> us</h2>
			</article>
			<article>
				<h2>Please use HTML5.</h2>
			</article>
			
			<article>
				<h3>
					Thank you! <img src="images/justabill.png" style="top: 0px; right: 0px; position: absolute; width: 345px;">
				</h3>

				<ul>
					<li>Felipe Arroyo</li>
					<li>Christine Cheung</li>
					<li>Christian Harden</li>
					<li>Richard Herrera</li>
					<li>Taka Kojima</li>
					<li>Scott Twede</li>
					<li>Slides: <a href="#">ff0000.github.com/html5-presentation/</a></li>
				</ul>

			</article>

		</section>

	</body>
</html>
