<!doctype html public "✰">
	<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
	<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>ff0000</title>

		<meta name="description" content="" />
		<meta name="author" content="" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	
		<link rel="stylesheet" href="css/global.css" />
	
		<script src="http://ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"></script>
	</head>

	<body>
		<div id="viewport" class="carousel">
			<div id="viewport-inner">
				<section class="home">
					<div class="parallax">
						<div class="parallax-layer">
							<img src="images/parallax/background.png" width="1920" height="620" alt="Background" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/middleground.png" width="1881" height="600" alt="Middleground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/foreground.png" width="1707" height="600" alt="Foreground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/character.png" width="1280" height="582" alt="Character" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/text.png" width="1280" height="582" alt="Text" />
						</div>
				    </div>
				</section>
				<section class="about">
					<div class="parallax">
						<div class="parallax-layer">
							<img src="images/parallax/background.png" width="1920" height="620" alt="Background" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/middleground.png" width="1881" height="600" alt="Middleground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/foreground.png" width="1707" height="600" alt="Foreground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/character.png" width="1280" height="582" alt="Character" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/text.png" width="1280" height="582" alt="Text" />
						</div>
				    </div>
				</section>
				<section class="foo">
					<div class="parallax">
						<div class="parallax-layer">
							<img src="images/parallax/background.png" width="1920" height="620" alt="Background" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/middleground.png" width="1881" height="600" alt="Middleground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/foreground.png" width="1707" height="600" alt="Foreground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/character.png" width="1280" height="582" alt="Character" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/text.png" width="1280" height="582" alt="Text" />
						</div>
				    </div>
				</section>
				<section class="bar">
					<div class="parallax">
						<div class="parallax-layer">
							<img src="images/parallax/background.png" width="1920" height="620" alt="Background" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/middleground.png" width="1881" height="600" alt="Middleground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/foreground.png" width="1707" height="600" alt="Foreground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/character.png" width="1280" height="582" alt="Character" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/text.png" width="1280" height="582" alt="Text" />
						</div>
				    </div>
				</section>
				<section class="baz">
					<div class="parallax">
						<div class="parallax-layer">
							<img src="images/parallax/background.png" width="1920" height="620" alt="Background" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/middleground.png" width="1881" height="600" alt="Middleground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/foreground.png" width="1707" height="600" alt="Foreground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/character.png" width="1280" height="582" alt="Character" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/text.png" width="1280" height="582" alt="Text" />
						</div>
				    </div>
				</section>
				<section class="baz">
					<div class="parallax">
						<div class="parallax-layer">
							<img src="images/parallax/background.png" width="1920" height="620" alt="Background" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/middleground.png" width="1881" height="600" alt="Middleground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/foreground.png" width="1707" height="600" alt="Foreground" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/character.png" width="1280" height="582" alt="Character" />
						</div>
						<div class="parallax-layer">
							<img src="images/parallax/text.png" width="1280" height="582" alt="Text" />
						</div>
				    </div>
				</section>
			</div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script src="http://webdev.stephband.info/events/frame/js/jquery.event.frame.js"></script>
		<script src="js/libs/jquery.jparallax.js"></script>
		<script src="js/libs/jquery.vendorblender.js"></script>
	
		<script src="js/global.js"></script>
	</body>
</html>